<div class="container">

<div  class="navbar">
<button (click)="adminLogin()">Admin</button>
<button (click)="ownerLogin()">Owner</button>
<button (click)="userLogin()">User</button>
</div> 
<div class="main1">
    
    <section class="h-txt">
     <div >
         <span >Enjoy</span>
     <h1 >International Hotel Booking  Agency</h1>
     </div>
     <br>
    
    <a class="mt-5" >Book your trip with our Hotel</a>
   </section>
   <br>
   <div class="wrapper">
    <div style="background-image:url(../../../assets/images/hotel2.jpg)"></div>
  <div style="background-image:url(../../../assets/images/hotel7.jpg)"></div>
  <div style="background-image:url(../../../assets/images/hotel5.jpg)"></div>
  <div style="background-image:url(../../../assets/images/hotel4.jpg)"></div>
  <div style="background-image:url(../../../assets/images/hotel11.jpg)"></div>

</div>
</div>
</div>

