<div class="main">
<div class="container">
   <label class="backbtn">Back</label>
    <h2> Hotel Register</h2>
    <form><div>
        
       <input type="text" placeholder="Hotel Name">
      <input type="text"  placeholder="Hotel Loacation">
        <br><br>
      <input type="text"  placeholder="Hotel Name">
       <input type="text"  placeholder="Hotel Name">
        <br><br>
        <input type="text"  placeholder="Hotel Name">
        <input type="text"  placeholder="Hotel Name">
          <br><br>
        <input type="text"  placeholder="Hotel Name">
         <input type="text"  placeholder="Hotel Name">
          <br>
       <br>
       <button>Submit</button>
       <button>Reset</button>
       
       </div>
    </form>
</div>
</div>
