<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<body>
 
<div class="container">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" color="blue" fill="currentColor" (click)="back()" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
  </svg>
    <h2>Login</h2>
    <br>
    <form [formGroup]="ownerLoginForm">
        <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter User Name"  formControlName="userName">
          </mat-form-field>
         
    
    
      <mat-error *ngIf="ownerLoginForm.get('userName')?.errors?.['required'] && ownerLoginForm.get('userName')?.touched">User Name is <strong>required</strong></mat-error>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="!showpass?'text':'password'" placeholder="Enter Password" formControlName="password" >
            <mat-icon matSuffix *ngIf="!showpass" (click)="showPassword()" ><i class="fa fa-eye" ></i></mat-icon>
          <mat-icon *ngIf="showpass" matSuffix (click)="showPassword()"><i class="fa fa-eye-slash" ></i></mat-icon>
         
          </mat-form-field>
          <!-- <mat-error>Please enter a valid Password</mat-error> -->
          <mat-error *ngIf="ownerLoginForm.get('password')?.errors?.['required'] && ownerLoginForm.get('password')?.touched">Password is <strong>required</strong></mat-error>
          <mat-error *ngIf="!ownerLoginForm.get('password')?.errors?.['required'] && wrongpass">Wrong Password & Username </mat-error>
          <br>
          
          <button mat-raised-button color="accent" (click)="login()" >Login</button>
          <button mat-raised-button color="warn" (click)="signup()">New User?</button>

    </form>
</div>
</body>
