<div class="main">
 
 <button (click)="showWeather()" class="btnWeather">Show Weather Details</button>
 <div *ngIf="searchBox" class="btnSearch">
    <input type="search" [(ngModel)]="city_Name" placeholder="Enter City ">
   
 <button  (click)="showDetails()">Show Details</button>
 </div>

 <div *ngIf="details" class="main1">
   <div class="container">
       <table>
         
               <img  style="float: left;" src="../../assets/images/download.png" alt="" height="80px" width="100px">
               <label class="temp">{{Temp}} °C</label>
           <tr>
               <th>City</th>
               <td>{{cityName}}</td>
               <th>Country</th>
               <td>{{CountryName}}</td>

           </tr>
           <br>
           <tr>
               <th>Max Temperature</th>
               <td>{{TempMax}}</td>
               <th>Min Temperature</th>
               <td>{{TempMin}}</td>

           </tr>
           <br>
           <tr>
               <th>Pressure</th>
               <td>{{Pressure}}</td>
               <th>Humidity</th>
               <td>{{humidity}}</td>

           </tr>
           <br>
           <tr>
               <th>Speed</th>
               <td>{{speed}}</td>
               
           </tr>
       </table>
   </div>

</div>
 
 
</div>
